* {
    font-family: 'Lucida Handwriting';
    color: #fff;
    background-color: #1e1d30;
}

h1 {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    margin: 20px;
}

.blue-back {
    background-color: cadetblue;
    border: 5px dotted honeydew;
}

h2 {
    font-weight: 500;
    text-align: left;
    font-size: xx-large;
    margin-top: 50px;
    margin-left: 70px;
}

a {
    display: flex;
    flex: auto;
    font-size: x-large;
    text-decoration: none;
    font-weight: 400;
    margin: auto;
    padding: auto;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    text-indent: 30px;
    text-align: justify;
}

ul, ol {
    margin-left: 35px;
    text-align: justify;
    margin-right: 50px;
}

img {
    display: inline-flex;
    margin: 30px auto;
    max-width: fit-content;
    height: auto;
}

.home {
    display: inline-block;
    background-color: cadetblue;
    margin: 50px 100px;
    padding: 5px 15px;
    color: #ffffff;
}